In [1]:
#lab 2

In [9]:
# 1using input() function take one number from the user and using ternary operators check whether the number is even or odd
num = int(input("enter the number:"))
result = "Even" if num % 2==0 else  "Odd"
print("The number is",result)

enter the number: 6

The number is Even

In [13]:
# 2using input function take two number and then swap the number
x = 10
y = 9 
x,y = y,x 
print("after swapping: x=", x, ", y =", y)

after swapping: x= 9 , y = 10

In [15]:
# 3write a program to convert kilometers to miles
km = float(input("enter distance in kilometers: "))
miles = km*0.621371
print(f"{km} kilometers is equal to {miles:.2f} miles")

enter distance in kilometers:  3

3.0 kilometers is equal to 1.86 miles

In [21]:
# 4find the simple interest on RS 200 for 5 years at 5% per year
I=200
T=5
R=5
Simple_Interest=I*T*R/100
print("Simple Interest is :",Simple_Interest)

Simple Interest is : 50.0